.git
.claude
target/debug
target/wasm32-unknown-unknown
target/.rustc_info.json
target/.cargo-lock
target/release/.fingerprint
target/release/build
target/release/deps
target/release/examples
target/release/incremental
target/release/.fingerprint
*.d
*.rlib
*.rmeta
node_modules
.gh_token
todos.db
